<div id="list_display" class='recordsData' task="can_view_database_list_trainingvenueinformation">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_trainingvenue_information'><span type="form" name="trainingvenueinformation:id" href="lists?type=trainingvenueinformation&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=trainingvenueinformation">Select another Training Venue</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Training Venue</th>
		</tr>
			<span type="form" name="trainingvenueinformation:provider_instance" showhead="default" class="even"></span>
			<span type="form" name="trainingvenueinformation:venue" showhead="default"></span>
			<span type="form" name="trainingvenueinformation:intake_capacity" showhead="default"></span>
			<span type="form" name="trainingvenueinformation:location_details" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
