<tbody id="list_fields">
    <tr>
        <td class="formdata">
            <span type="form" name="training_curriculum:name" showhead="default"></span>            
            <span type="form" name="training_curriculum:training_length_type" showhead="default"></span>
			<span type="form" name="training_curriculum:training_type" showhead="default"></span>
        </td><td class="formdata">
            <span type="form" name="training_curriculum:status" showhead="default"></span>
            <span type="form" name="training_curriculum:person_responsible" showhead="default"></span>
        </td>
    </tr>
</tbody>
