<tbody id="list_fields">
    <tr>
        <td class="formdata">
            <span type="form" name="training_modules:name" showhead="default"></span>            
            <span type="form" name="training_modules:training_length_type" showhead="default"></span>
			<span type="form" name="training_modules:training_type" showhead="default"></span>
        </td><td class="formdata">
			<span type="form" name="training_modules:training_curriculum" showhead="default"></span>
            <span type="form" name="training_modules:status" showhead="default"></span>
            <span type="form" name="training_modules:person_responsible" showhead="default"></span>
        </td>
    </tr>
</tbody>
